#body-id {
    background-color: rgb(94, 33, 94);
    color: white;
}

#bar1 {
    background-color: steelblue;
}

#div {
    background-color: rgba(219, 217, 217, 0.342);
}

.mango-smoothie-h1 {
    font-size: 50px;
    text-align: center;
}



