#body-id {
    background-color: rgb(94, 33, 94);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#bar1 {
    background-color: steelblue;
}

#div-p {
    background-color: rgb(129, 21, 21);
}

#div {
    background-color: rgba(219, 217, 217, 0.233);
}

.mango-smoothie-h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', serif;
}



