#body-idt {
        background-color: rgb(238, 238, 238);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

#bar {
    background-color: rgba(100, 250, 54, 0.575);
}

#img-idd {
    border-radius: 60px;
    align-items: center;
    
}

#img-0 {
    border-radius: 60px;
    background-color: rgb(0, 0, 0);

}
      

.div-box {
    background-color: rgba(24, 121, 231, 0.151);
}

.div-desc {
    background-color: rgba(236, 154, 192, 0.418);
    
}