body {
    background-color: #f5cd99;
    font-family: 'Trebuchet MS', 'Lucida Grande', sans-serif;
  
}

#title-h1 {
    background-color: steelblue;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}
